/* 首页样式 */
/* 版心居中 */
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

.body{
    height: 100%;
    background-color: rgb(179, 175, 175);
}

.Header{
    width: 1920px;
    height: 100px;
    background-color: #ffffff;
}

.Header {
    display: flex;
    padding-top: 29px;
}

.Header h1 a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);   
    font-size: 0;
    
}

.Header  ul{
    display: flex;
    margin: 8px 0px 31px 102px;
    padding: 0;
    width: 244px;
    height: 35px;
}

.Header li{
    margin-right: 24px;
    
    
}

.Header  li a{
    margin: 0px 8px 8px 8px;
    white-space: nowrap;
    font-family: PingFangSC-Regular;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #333333;
   
}

.Header  li:nth-child(1){
    border-bottom: 2px solid #00a4ff;
}

.Header  li:hover{
    border-bottom: 2px solid #00a4ff;
}

.Header .search{
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 96px;
}

.Header .search input{
    flex: 1;
    margin: 0px 15px;
    width: 382px;
    border: 0px;
    background-color:transparent;
    outline: none;
}

.Header  .search ::placeholder{
    font-size: 14px;
    color: #999;
}

.Header  .search a{
    width: 16px;
    height: 16px;
    margin: 12px;
    background-image: url(../images/search.png);
}

.Header  .User{
    display: flex;
    margin-left: 32px;
    height: 30px;
    
}

.Header  .User .Useradatar{
    width: 30px;
    height: 30px;
    background-image: url(../images/user.png);
}

.Header  .User .Username{
    margin: 4px 0 4px 7px;
    width: 80px;
    height: 23px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 23px;
    letter-spacing: 0px;
    color: #666666;
}

.banner{
    height: 420px;
    width: 1200px;
    background-color:#0092cb;
}

.banner .rectangle{
    display: flex;
    background-image: url(../uploads/banner.png);
    height: 420px;
    justify-content: space-between;
}

.banner .rectangle .left{
    width: 150px;
    height: 414px;
    background-color: #005576;
    padding: 3px 20px;
}

.left ul li a{
    display: block;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	line-height: 46px;
	color: #ffffff;
    background: url(../images/right.png) no-repeat center right ;
}

.left ul li a:hover{
	color: #00a4ff;
    background: url(../images/right-hover.png) no-repeat center right ;
}

.banner .right{
    width: 218px;
    height: 305px;
    margin-top: 60px ;
    background-color: #209dd5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    font-family: PingFangSC-Medium;
    
}

.right .Curriculum{
    box-sizing: border-box;
    width: 218px;
    height:100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.right .Curriculum dl{
    flex:5;
}

.right .Curriculum dt{
    font-family: PingFangSC-Medium;
	font-size: 14px;
	line-height: 20px;
    font-weight: 700;
	color: #333333;
   
}

.right .Curriculum span{
    font-size: 12px;
    font-family: PingFangSC-Medium;
    line-height: 16px;
    color: #00a4ff;
    font-weight: 500;
}

.right .Curriculum strong{
    font-size: 12px;
    font-family: PingFangSC-Medium;
    line-height: 16px;
    color: #7d7d7d;
    font-weight: 400;
}

.right .Curriculum dd{
    height: 31px;
 
}

.right .Curriculum .separate{
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 12px;
}

.right .Curriculum .button{
    display: block;
	width: 190px;
	height: 32px;
	background-color: #00a4ff;
	border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    font-family: PingFangSC-Medium;
}

.recommend{
    margin-top: 11px;
    margin-bottom: 31px;
    height: 60px;
}

.recommend .rectangle{
    width: 1200px;
    height: 60px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px 
            rgba(211, 211, 211, 0.5);
}

.recommend li{
   padding: 18px 0;
}

.recommend a{
   
    display: block;
    width: 100%;
    height: auto;
}

.recommend .a1{
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: #00a4ff; 
    margin-left: 18px;
}

.recommend .a2{
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    border-right: solid 1px #e0e0e0;
    margin-left: 18px;
   
}

.recommend .a3{
    margin-right: 18px; 
    width: 64px;
    height: 23px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: #00a4ff;
}

.contents{
    width: 1200px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.contents .div1{
    
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.contents .div1 span{
    width: 84px;
    height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 21px;
    line-height: 32px;
    color: #333333;
}

.contents .div1 a{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 30px;
    color: #999999;
  
}

.contents .div2{
    flex: 1;
}

.contents ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.contents li{
    width: 228px;
    height: 271px;
}

.contents li .span1{
    display: block;
    width: 188px;
    height: 37px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #333333;
    margin: 20px 20px 16px 20px;
}

.contents li .span2{
    display: flex;
    display: block;
    margin: 0 20px 22px 20px;
   
}

.contents .span2 .span2-1{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fa6400;

}

.contents .span2 .span2-2{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #999999;
    
}